@import "tailwindcss";

/* Brand Theme */
@theme {
  --color-primary-red: #D23D2D;
  --color-primary-yellow: #ffc926;
  --color-dark-brown: #6e433D;

  --color-background: #ffffff; /* Clean white */
  --color-border: #f1e5d5;
}

/* Global background */
body {
  background-color: var(--color-background);
  color: var(--color-dark-brown);
}
